/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}


/*
 * Welcome Page
 */
.welcome-message h1 {
    font-size: 2em;
    color: #333;
}
.quick-links {
    margin-top: 20px;
}
.quick-links .btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}
.upcoming-lessons ul {
    list-style-type: none;
    padding: 0;
}


/*
 * request lessons
 */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
}
