{% extends 'base_content.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Admin Dashboard</h1>
            <p>Welcome, {{ user.first_name }}!</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Lessons</h5>
                    <p class="card-text">{{ total_lessons }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Invoices</h5>
                    <p class="card-text">{{ total_invoices }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Unpaid Invoices</h5>
                    <p class="card-text">{{ unpaid_invoices }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}