{% extends 'base_content.html' %}
{% block content %}
        <h1>
            Lesson Requests
        </h1>
        <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Class</th>
            <th scope="col">Time</th>
            <th scope="col">Tutor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
        <tr>x
            <th scope="row">2</th>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
        </tbody>
    </table>
{% endblock %}