{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <h1>Remove Lesson</h1>
    <p>Are you sure you want to remove the lesson scheduled for {{ lesson.date|date:"D, d M Y H:i" }} on {{ lesson.subject }}?</p>
    <form method="post" action="{% url 'remove_lesson' lesson.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Remove Lesson</button>
        <a href="{% url 'view_upcoming_lessons' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
