{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <h1>Request a Lesson</h1>
    <p>Fill out the form below to request a new lesson. Our admin team will review your request and get back to you soon.</p>
    
    <form action="{% url 'request_lesson' %}" method="post">
        {% csrf_token %}

        {% include 'partials/bootstrap_form.html' with form=form %}

        {{ form.non_field_errors }}

        <button type="submit" class="btn btn-primary">Submit Request</button>
    </form>
</div>
{% endblock %}