{% extends 'base_content.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Lessons</h1>

    <!-- Filter, Search, and Order Form -->
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-2">
                <select name="student" class="form-control">
                    <option value="">All Students</option>
                    {% for student in students_with_lessons %}
                    <option value="{{ student.id }}" {% if request.GET.student == student.id|stringformat:"s" %}selected{% endif %}>{{ student }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="subject" class="form-control">
                    <option value="">All Subjects</option>
                    {% for subject in subjects %}
                    <option value="{{ subject.id }}" {% if request.GET.subject == subject.id|stringformat:"s" %}selected{% endif %}>{{ subject }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="tutor" class="form-control">
                    <option value="">All Tutors</option>
                    {% for tutor in tutors_with_lessons %}
                    <option value="{{ tutor.id }}" {% if request.GET.tutor == tutor.id|stringformat:"s" %}selected{% endif %}>{{ tutor }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="duration" class="form-control">
                    <option value="">All Durations</option>
                    {% for duration in durations %}
                    <option value="{{ duration }}" {% if request.GET.duration == duration|stringformat:"s" %}selected{% endif %}>{{ duration }} mins</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="status" class="form-control">
                    <option value="">All Statuses</option>
                    <option value="Pending" {% if request.GET.status == 'Pending' %}selected{% endif %}>Pending</option>
                    <option value="Approved" {% if request.GET.status == 'Approved' %}selected{% endif %}>Approved</option>
                    <option value="Rejected" {% if request.GET.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                </select>
            </div>
            <div class="col-md-2">
                <select name="recurrence" class="form-control">
                    <option value="">All Recurrence</option>
                    {% for recurrence in recurrences %}
                    <option value="{{ recurrence }}" {% if request.GET.recurence == recurrence|stringformat:"s" %}selected{% endif %}>{{ recurrence }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10">
                <input type="text" name="search" class="form-control" placeholder="Search" value="{{ request.GET.search }}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'student' %}order_by=-student{% else %}order_by=student{% endif %}">
                        Student
                        {% if request.GET.order_by == 'student' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-student' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'subject' %}order_by=-subject{% else %}order_by=subject{% endif %}">
                        Subject
                        {% if request.GET.order_by == 'subject' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-subject' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'date' %}order_by=-date{% else %}order_by=date{% endif %}">
                        Date
                        {% if request.GET.order_by == 'date' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-date' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'duration' %}order_by=-duration{% else %}order_by=duration{% endif %}">
                        Duration
                        {% if request.GET.order_by == 'duration' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-duration' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'tutor' %}order_by=-tutor{% else %}order_by=tutor{% endif %}">
                        Tutor
                        {% if request.GET.order_by == 'tutor' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-tutor' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'recurrence' %}order_by=-recurrence{% else %}order_by=recurrence{% endif %}">
                        Recurrence
                        {% if request.GET.order_by == 'recurrence' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-recurrence' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'end_date' %}order_by=-end_date{% else %}order_by=end_date{% endif %}">
                        End Date
                        {% if request.GET.order_by == 'end_date' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-end_date' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a class="text-decoration-none" href="?{% if request.GET.order_by == 'status' %}order_by=-status{% else %}order_by=status{% endif %}">
                        Status
                        {% if request.GET.order_by == 'status' %}
                            <i class="fa fa-angle-down"></i>
                        {% elif request.GET.order_by == '-status' %}
                            <i class="fa fa-angle-up"></i>
                        {% endif %}
                    </a>
                </th>
                <th><a href="{% url 'create_lesson' %}"><i class="fa-solid fa-plus fs-4"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.student }}</td>
                <td>{{ lesson.subject }}</td>
                <td>{{ lesson.date|date:"d/m/Y H:i" }}</td>
                <td>{{ lesson.duration }} mins</td>
                <td>{{ lesson.tutor }}</td>
                <td>{{ lesson.recurrence }}</td>
                <td>{{ lesson.recurrence_end_date|date:"d/m/Y" }}</td>
                <td>
                    {% if lesson.status == 'Approved' %}
                    <span class="badge bg-success">Approved</span>
                    {% elif lesson.status == 'Pending' %}
                    <span class="badge bg-warning">Pending</span>
                    {% else %}
                    <span class="badge bg-danger">Rejected</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'update_lesson' lesson.id %}"><i class="bi bi-pen-fill"></i></a>
                    &nbsp;&nbsp;
                    <a href="{% url 'create_notification' %}?model=Lesson&pk={{ lesson.pk }}"><i class="fa-solid fa-envelope"></i></a>
                    &nbsp;&nbsp;
                    <a href="{% url 'create_invoice' %}?model=Lesson&pk={{ lesson.pk }}"><i class="fa-solid fa-sterling-sign"></i></a>
                    &nbsp;&nbsp;
                    <a href="{% url 'delete_object' 'Lesson' lesson.pk %}" class="text-danger"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}