{% extends 'base/base_content.html' %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Hero Section -->
    <div class="hero-section text-center text-dark d-flex align-items-center">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Welcome to Orca College</h1>
            <p class="lead text-dark">Empowering students for a brighter future through excellence in education.</p>
            <a href="{% url 'sign_up' %}" class="btn btn-primary btn-lg mx-2">Sign Up</a>
            <a href="{% url 'log_in' %}" class="btn btn-primary btn-lg mx-2">Log In</a>
        </div>
    </div>
</div>
{% endblock %}
